<h6>文章分类</h6>
<hr/>
<nav class="ink-navigation">
    <ul class="vertical menu grey">
        <li><a href="javascript:;" class="categories-list-item" cate="All">
            All <span class="caution invert"> ({{site.posts | size}})</span>
        </a></li>
        {% for category in site.categories %}
        <li><a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">{{ category | first }} <span class="caution invert">({{ category | last | size }})</span></a></li>
        {% endfor %}
    </ul>
</nav>