<header class="noprint">
    <div class="topbar">
        <div class="pagecontent">
            <div class="ink-grid">
                <div class="column-group horizontal-gutters">
                    <div class="all-50">
                        <span class="logoText">Extreme Thinking</span>
                    </div>
                    <div class="all-50">
                    <nav class="ink-navigation">
                        <ul class="menu horizontal black push-right">
                            <li{% if page.whereami == 'index' %} class="active"{% endif %}><a href="/index.html"><i class="fa fa-th-large icon-white"></i> Blog</a></li>
                            <li{% if page.whereami == 'about' %} class="active"{% endif %}><a href="/about.html"><i class="fa fa-heart icon-white"></i> About</a></li>
                        </ul>
                    </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:40px"></div>
</header>