<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
    <div class="pagecontent">
    {% include header.html %}
    
    <div class="ink-grid top-space">
            <div class="column-group horizontal-gutters">
                <div class="all-75">
                        {{ content }}
                </div>
                <div class="all-25 noprint">
                        {% include category_list.html %}
                </div>
            </div>
            <div class="column-group">
                <div class="all-100">
                    <hr/>
                </div>
            </div>
    </div>
    
    {% include footer.html %}
    </div>
</body>
</html>

