<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="pagecontent">
        {% include header.html %}
        
        <div class="ink-grid top-space">
            <div class="column-group horizontal-gutters">
                <div class="xlarge-75 large-75 medium-100 small-100 tiny-100">
                        <div style="font-size: 30px;">{{ page.title }}</div>
                        <p><i class="icon-edit"></i> {{ page.date | date:"%Y-%m-%d" }}</p>
                        <hr/>
                        <p>{{ content }}</p>
                </div>
                <div class="xlarge-25 large-25 medium-0 small-0 tiny-0 hide-all show-xlarge show-large noprint">
                    <span style="font-size: 20px;">Table of Content:</span>
                    <div id="toc"></div>
                        <script>$('#toc').toc({'selectors': 'h1,h2,h3,h4,h5'});</script>
                </div>
            </div>
            <div class="column-group">
                <div class="all-100">
                    <hr/>
                </div>
            </div>
        </div>
        
        {% include footer.html %}
        </div>
        
    </body>
</html>
